@charset "UTF-8";
/***************************************************************/
/* HEADER / NAV************************************************/
/***************************************************************/
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 145px;
  background: white;
  height: 80px;
  box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.03);
}
header .siteNavigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}
header .siteNavigation__logo {
  width: 215px !important;
  height: 15px !important;
  cursor: pointer;
}
header .siteNavigation__menu {
  display: flex;
  align-items: center;
}
header .siteNavigation__menu .navMenu {
  display: flex;
  gap: 30px;
  list-style-type: none;
}
header .siteNavigation__menu .navMenu li {
  font-family: "SpaceMono";
  font-size: 16px;
  text-transform: uppercase;
}
header .siteNavigation__menu .navMenu li a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
header .siteNavigation__menu .navMenu li a:hover {
  font-weight: 700;
}

/** BURGER **/
@media screen and (max-width: 768px) {
  #wpadminbar {
    display: none;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding-inline: 16px;
  }
  header.open {
    position: relative;
    z-index: 2;
    animation: openNav 1.5s ease-in-out 0s forwards;
    -webkit-animation: openNav 1.5s ease-in-out 0s forwards;
  }
  header .siteNavigation .burgerMenu {
    width: 30px;
    height: 20px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  header .siteNavigation .burgerMenu .bar {
    width: 100%;
    height: 4px;
    background-color: black;
    transition: transform 0.3s ease-in-out;
  }
  header .siteNavigation .burgerMenu.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  header .siteNavigation .burgerMenu.open .bar:nth-child(2) {
    opacity: 0;
  }
  header .siteNavigation .burgerMenu.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  header .siteNavigation .siteNavigation__menu {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    z-index: 999;
    top: 50px;
    left: -16px;
    right: 0;
    background-color: #E00000;
    width: 100vw;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 1.2s ease-in-out, opacity 1.2s ease-in-out; /* Ajoutez la transition */
  }
  header .siteNavigation .siteNavigation__menu.open {
    max-height: 40vh; /* Ajustez la hauteur maximale à la valeur souhaitée */
    opacity: 1; /* Affichez le contenu en augmentant l'opacité à 1 */
  }
  header .siteNavigation .siteNavigation__menu.close {
    animation: closeNav 1.5s ease-in-out 0s forwards; /* Nouvelle animation pour la fermeture */
    -webkit-animation: closeNav 1.5s ease-in-out 0s forwards; /* Nouvelle animation pour la fermeture */
  }
  header .siteNavigation .siteNavigation__menu .navMenu {
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    align-items: center;
    padding-inline: 0;
  }
  header .siteNavigation .siteNavigation__menu .navMenu li {
    font-size: 44px !important;
  }
  header .siteNavigation .siteNavigation__menu .navMenu li a {
    font-size: 70%;
    color: #FFF !important;
  }
}
@keyframes openNav {
  0% {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes closeNav {
  0% {
    max-height: 40vh;
    opacity: 1;
  }
  80% {
    max-height: 0;
  }
  100% {
    opacity: 0;
    max-height: 0;
  }
}
/* Tablette */
@media only screen and (min-width: 768px) and (max-width: 960px) {
  header {
    padding-inline: 55px;
  }
}
/****************************************************************/
/*    FOOTER   ************************************************/
/***************************************************************/
#menu-footer {
  font-family: "SpaceMono";
  padding-top: 18px;
  text-transform: uppercase;
  list-style: none;
  align-items: center;
  justify-content: center;
  display: flex;
  border-top: 1px solid black;
}
@media screen and (max-width: 770px) {
  #menu-footer {
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 0;
  }
}

#menu-footer a {
  padding: 30px;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 770px) {
  #menu-footer li {
    padding-bottom: 13px;
  }
}

/***************************************************************/
/*    FONTS    *************************************************/
/***************************************************************/
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SpaceMono";
  src: url("../fonts/spacemono/SpaceMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SpaceMonoBoldItalic";
  src: url("../fonts/spacemono/SpaceMono-BoldItalic.ttf");
  font-weight: normal;
  font-style: normal;
}
/***************************************************************/
/* GENERALITES *************************************************/
/***************************************************************/
* {
  box-sizing: border-box;
  font-family: "SpaceMono";
}

body {
  margin: 0;
  padding: 0;
  max-width: 1440px;
}

/***************************************************************/
/*    MODALE   *************************************************/
/***************************************************************/
.popup-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  /* display: flex;*/
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 999;
}

.popup-contact {
  position: relative;
  background: white;
  max-width: 600px;
  width: 80%;
  padding: 15px 0;
  border: 5px solid #000000;
}

@media screen and (max-width: 768px) {
  .popup-img {
    height: 100px;
    width: 100%;
  }
}

span.popup-close {
  position: absolute;
  height: 110px;
  width: 100%;
  cursor: pointer;
  transition: all 0.4s ease;
}

.popup-informations {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 265px;
  margin: auto;
}

/***************************************************************/
/*  FORMULAIRE *************************************************/
/***************************************************************/
.wpcf7-form {
  display: flex;
  flex-direction: column;
}

.wpcf7-form p {
  margin: 5px;
  padding-top: 0px;
  width: 100%;
}

.wpcf7-form p label {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.wpcf7-form p input {
  height: 35px;
}

.wpcf7-form p .wpcf7-text,
.wpcf7-form p .wpcf7-email,
.wpcf7-form p textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #000000;
}

.wpcf7-form p .wpcf7-text:focus,
.wpcf7-form p .wpcf7-email:focus,
.wpcf7-form p textarea:focus {
  border: 3px solid #000000;
  background-color: rgba(175, 174, 174, 0.151);
}

/******************************************************************/
/*     BTN FORMULAIRE   *******************************************/
/******************************************************************/
.wpcf7-form p .wpcf7-submit {
  cursor: pointer;
  border: white;
  background: #D3D3D3;
  height: 45px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
}

.wpcf7-response-output {
  width: 160%;
  transform: translate(-20%, 0%);
  color: red;
}

.wpcf7-not-valid-tip {
  font-size: 12px;
}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output {
  text-align: center;
  font-size: 13px;
  margin-top: 0px;
}

/************************************************************/
/*  BTN CONTACT SINGLE-PHOTO    *****************************/
/************************************************************/
.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

#boutonContact {
  cursor: pointer;
  width: 40%;
  height: 45px;
  line-height: 100%;
  background: #D3D3D3;
  font-family: "SpaceMono";
  font-weight: 400;
  font-size: 14px;
  border-radius: 3px;
  border: none;
}
@media screen and (max-width: 768px) {
  #boutonContact {
    width: 100%;
    height: 50px;
  }
}

/************************************************************/
/*                 LES HOVER              *******************/
/************************************************************/
.wpcf7-form p .wpcf7-submit:hover,
#boutonContact:hover {
  cursor: pointer;
  background-color: black;
  color: white !important;
  transition: 0.36s cubic-bezier(0.4, 0, 1, 1);
}

/* Styles de l'image principale dans le bloc */
#load-moreContainer {
  width: 100%;
}

/* Styles du bouton "Plus d'image" */
#btnLoad-more {
  display: block;
  position: relative;
  width: 25%;
  height: 55px;
  line-height: 100%;
  background: #D3D3D3;
  font-family: "SpaceMono";
  font-weight: 400;
  font-size: 14px;
  border-radius: 3px;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: none;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
@media screen and (max-width: 768px) {
  #btnLoad-more {
    width: 50%;
    height: 50px;
  }
}

/* Styles au survol du bouton */
#btnLoad-more:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  transition: 0.36s cubic-bezier(0.4, 0, 1, 1);
}

/******************************************************************/
/*  SINGLE-PHOTOS *************************************************/
/******************************************************************/
/* Conteneur principal pour la galerie de photos */
.galleryPhotos {
  gap: 20px;
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .galleryPhotos {
    flex-direction: column-reverse;
  }
}

/* Section détaillée de la photo */
.detailPhoto {
  margin-bottom: 7px;
  display: flex;
  flex-basis: 50%;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: solid black 1px;
}
@media screen and (max-width: 768px) {
  .detailPhoto {
    justify-content: left;
  }
}

.photo-info {
  margin: 0;
}
@media screen and (max-width: 768px) {
  .photo-info {
    flex-direction: column;
    display: flex;
  }
}

.photo-info--title {
  font-style: italic;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0em;
  font-size: 66px;
  width: 67%;
  line-height: 80px;
}
@media screen and (max-width: 768px) {
  .photo-info--title {
    margin-right: 10%;
    /*margin-top: 20%;*/
  }
}

.photo-info--title h2 {
  margin: 0;
  font-size: 55px;
  font-weight: 200;
}
@media screen and (max-width: 768px) {
  .photo-info--title h2 {
    line-height: 1.3;
    font-size: 20px;
    font-weight: 100;
  }
}

@media screen and (max-width: 768px) {
  .taxo-details {
    text-align: left;
    line-height: 1.3;
    font-size: 12px;
    font-weight: 100;
  }
}

/* Conteneur de la photo principale */
.containerPhoto {
  height: 100%;
  flex-basis: calc(50% - 10px); /* Utilisation de calc() pour soustraire la marge entre les éléments */
}
@media screen and (max-width: 768px) {
  .containerPhoto {
    flex-basis: 100%; /* Sur les écrans plus petits, occuper 100% de la largeur */
    margin-right: 0; /* Supprimer la marge pour occuper toute la largeur */
  }
}

.containerPhoto img {
  max-width: 100%;
  height: auto; /* Pour conserver les proportions de l'image */
}
@media screen and (max-width: 768px) {
  .containerPhoto img {
    width: 100%; /* Sur les écrans plus petits, occuper 100% de la largeur */
  }
}

/* Section principale du catalogue de photos */
.cataloguePhotos {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  max-width: 117vh;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .cataloguePhotos {
    max-width: 375px;
  }
}

/* Affichage de l'icône fullscreen au survol de la photo principale */
.containerPhoto:hover .fullscreen-iconSingle {
  display: block;
}

/* Section du formulaire de contact */
.contenairContact {
  width: 100%;
  height: 95px;
  align-items: center;
  border-bottom: solid #000 1px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .contenairContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/********************* SECTION : PHOTO SIMILAIRES / "Vous aimerez aussi" *****************/
.photo_similaire {
  margin: auto;
  gap: 20px;
  display: flex;
  flex-direction: row;
  max-width: 80%;
}
@media screen and (max-width: 768px) {
  .photo_similaire {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
  }
}

.photo_similaire img {
  max-width: 100%;
  object-fit: cover;
}

.similar_photo__container {
  margin: auto;
  gap: 20px;
  display: flex;
  flex-direction: row;
  max-width: 80%;
}

.similar_photo__img {
  max-width: 100%;
  object-fit: cover;
}

/**********************************************************/
/* Titre pour la section des photos similaires */
.titleSugest {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5%;
  margin-left: 17%;
}
@media screen and (max-width: 768px) {
  .titleSugest {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
  }
}

/* Style pour le message "Cette photo vous intéresse ?" */
.interesser {
  font-family: "Poppins";
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .interesser {
    font-size: 12px;
  }
}

/* Style pour le message "Pas de photo similaire trouvée" */
.photoNotFound {
  font-family: "Poppins";
  font-size: 14px;
}

/************ BLOC PHOTO / VOus aimerez aussi : ***************/
.blockPhotoRelative {
  flex-shrink: 0;
  position: relative;
  width: 564px;
  height: 495px;
  margin-bottom: 50px;
}
@media screen and (min-width: 765px) and (max-width: 1140px) {
  .blockPhotoRelative {
    width: 370px;
  }
}
@media screen and (max-width: 765px) {
  .blockPhotoRelative {
    width: 318px;
    height: 279px;
  }
}
@media screen and (max-width: 375px) {
  .blockPhotoRelative {
    width: 260px;
    height: 279px;
  }
}

.blockPhotoRelative img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay:hover .eye-icon,
.overlay:hover .fullscreen-icon {
  display: block;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: opacity 0.3s, background-color 0.3s;
}

.overlay:hover {
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.8);
}

.overlay:hover h2,
.overlay:hover h3 {
  display: block;
}

.overlay h2,
.overlay h3 {
  text-transform: uppercase;
  position: absolute;
  color: white;
  font-family: "Poppins";
  font-size: 14px;
  display: none;
}

.overlay h2 {
  left: 19px;
  bottom: 5px;
}

.overlay h3 {
  right: 19px;
  bottom: 2px;
}

.overlay .eye-icon {
  width: 46px;
  height: 31.2px;
  top: 231.4px;
  left: 255px;
  position: absolute;
  display: none;
}
@media screen and (max-width: 768px) {
  .overlay .eye-icon {
    width: 20px;
    top: 45%;
    left: 48%;
    height: 14px;
  }
}

.overlay .fullscreen-icon {
  position: absolute;
  cursor: pointer;
  z-index: 3;
  width: 34px;
  height: 34px;
  top: 11px;
  left: 512px;
  border: 1px;
  display: none;
}
@media screen and (max-width: 768px) {
  .overlay .fullscreen-icon {
    left: 85%;
  }
}

.miniature {
  width: 71px;
  height: 60px;
  object-fit: cover;
  transition: transform ease 0.3s;
}

.miniature:hover {
  transform: scale(1.03);
}

/* Section de navigation entre les photos */
.naviguationPhotos {
  width: 50%;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (max-width: 768px) {
  .naviguationPhotos {
    display: none;
  }
}

/* Flèches de navigation entre les photos */
.naviguationArrow {
  display: flex;
  align-items: flex-end;
  margin-bottom: 25px;
  width: 32%;
  margin-bottom: 25px;
  height: 80%;
  margin-right: 15px;
}

/* Flèches gauche et droite */
.arrow {
  width: 25px;
  height: auto;
  background-size: cover;
  background-position: center;
  display: inline-block;
}

.arrow:hover {
  display: flex !important;
}

.arrow-left {
  right: 27%;
  top: 10px;
  position: relative;
  cursor: pointer;
}

.arrow-right {
  right: 27%;
  top: 10px;
  position: relative;
  cursor: pointer;
}

/******************************************************************/
/*  BANNER/ HERO  *************************************************/
/******************************************************************/
.banner {
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  position: absolute;
  top: 3px;
  animation: mooveUpImage 2s 300ms both;
}

.hero-title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 85%;
  height: 10%;
  font-family: "SpaceMonoBoldItalic";
  font-style: italic;
  font-weight: 700;
  font-size: 6vw;
  line-height: 10vh;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 3px #ffffff;
  -webkit-text-fill-color: transparent;
  z-index: 1;
  animation: mooveDown 2s 300ms both;
}

/***** KEYFRAMES BANNER + TITRE ****/
@keyframes mooveDown {
  0% {
    transform: translateY(-300px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    visibility: visible;
  }
}
@keyframes mooveUpImage {
  0% {
    transform: translateY(600px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}
/******************************************************************/
/*  FILTRES FRONT-PAGE ********************************************/
/******************************************************************/
.filtre {
  margin-bottom: 40px;
}

.custom-select {
  width: 260px;
  height: 43px;
  border: 1.3px solid #b8bbc2 !important;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
}

/* Style pour le conteneur de chaque paire label/select */
.taxonomy-container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 770px) {
  .taxonomy-container {
    width: 100%;
  }
}

/* Styles pour le conteneur #filtrePhoto */
#filtrePhoto {
  padding-top: 50px;
  width: 1140px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
@media screen and (max-width: 770px) {
  #filtrePhoto {
    width: 315px;
    flex-direction: column;
  }
}
@media screen and (min-width: 770px) and (max-width: 1140px) {
  #filtrePhoto {
    width: 715px;
  }
}
@media screen and (max-width: 340px) {
  #filtrePhoto {
    margin-bottom: 50px;
  }
}

/* Styles pour la section gauche contenant 'Catégorie' et 'Format' */
.left-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 770px) {
  .left-section {
    flex-direction: column;
    align-items: center;
    gap: 0px;
    width: 100%;
  }
}

/* Styles pour la section droite contenant 'Trier par' */
.right-section {
  align-items: flex-end;
}

/* Styles spécifiques pour le sélecteur 'Trier par' */
#annees {
  margin-left: auto;
}

/******************************************************************/
/*  PHOTOS FRONT-PAGE  ********************************************/
/******************************************************************/
/* Styles du bloc de catalogue */
.blocCatalogue {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  margin-top: 43px;
  gap: 10px;
}

/******************************************************************/
/*     LIGHTBOX        ********************************************/
/******************************************************************/
.lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8) !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.lightbox .lightboxClose {
  position: absolute;
  top: 40px;
  right: 18%;
  font-size: 23px;
  cursor: pointer;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .lightbox .lightboxClose {
    top: 6%;
    right: 13%;
    z-index: 999;
  }
}

.lightbox .lightboxPrevious,
.lightbox .lightboxNext {
  font-family: "SpaceMono";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #fff;
}

.lightbox .lightboxPrevious {
  left: 12%;
}
@media screen and (max-width: 768px) {
  .lightbox .lightboxPrevious {
    width: 96px;
    z-index: 999;
    left: 0%;
  }
}

.lightbox .lightboxNext {
  right: 15%;
}
@media screen and (max-width: 768px) {
  .lightbox .lightboxNext {
    width: 90px;
    right: 0%;
  }
}

.lightboxImage {
  width: 564px;
  height: 495px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .lightboxImage {
    width: 60%;
    right: 0%;
  }
}

.lightbox .lightbox-caption {
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.lightboxReference {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  position: absolute;
  text-transform: uppercase;
  z-index: 1;
  bottom: 110px;
  left: 441px;
  color: #fff;
  width: 170px;
  height: 21px;
}
@media screen and (max-width: 768px) {
  .lightboxReference {
    bottom: 12%;
    left: 67%;
  }
}

.lightboxCategorie {
  font-family: "SpaceMono";
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  position: absolute;
  text-transform: uppercase;
  z-index: 1;
  bottom: 110px;
  right: 439px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .lightboxCategorie {
    bottom: 12%;
    right: 65%;
  }
}

.lightboxPhoto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 564px;
  height: 495px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

.lightbox-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 100%;
}

/******************************************************************/
/*     CUSTOM-SELECT   ********************************************/
/******************************************************************/
/* Masque le champ de recherche dans le menu déroulant de Select2 */
.select2-dropdown .select2-search--dropdown .select2-search__field {
  display: none;
}

/* Styles pour les options sélectionnées ou survolées dans le menu déroulant */
.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option[data-selected=true],
.select2-container--default .select2-results__option--highlighted[aria-selected]:hover,
.select2-container--default .select2-results__option--highlighted[data-selected]:hover,
.select2-container--default .select2-results__option--highlighted[aria-selected]:focus,
.select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option--highlighted[data-selected]:focus {
  background-color: #e00000;
  color: #fff;
}

/* Styles pour les options survolées ou sélectionnées dans le menu déroulant */
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
  background-color: #fe5858;
  color: #fff;
}

/* Styles par défaut pour les options survolées dans le menu déroulant */
.select2-results__option--highlighted {
  background-color: #fe5858 !important;
  color: #fff !important;
}

/* Styles par défaut pour la container de Select2 */
.select2-container--default {
  font-family: "Poppins";
}

/* Styles pour la sélection unique de Select2 */
.select2-container--default .select2-selection--single {
  width: 260px !important;
  height: 43px !important;
  border: 1.3px solid #b8bbc2 !important;
  border-radius: 8px !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  text-transform: uppercase;
}

/* Styles pour la largeur de la container Select2 */
.select2-container {
  width: 100% !important;
}

/* Styles pour la première option dans le menu déroulant */
.select2-container--default .select2-results__option:not(:first-child)[aria-selected=true] {
  background-color: #e00000 !important;
  color: #fff !important;
}

/* Styles pour la première option dans le menu déroulant */
.select2-container--default .select2-results__option:first-child {
  background-color: #ffd6d6 !important;
  color: #000 !important;
}

/* Styles pour les écrans de taille maximale de 768px */
@media screen and (max-width: 768px) {
  .select2-container--default .select2-selection--single {
    width: 100% !important;
    margin-bottom: 5px;
  }
}
#content {
  box-sizing: border-box;
}

.mentionslegales__title {
  text-align: left;
  font-family: "SpaceMonoBoldItalic";
  text-transform: uppercase;
  margin-left: 80px;
  margin-right: 80px;
}

h1 {
  text-align: center;
  font-family: "SpaceMonoBoldItalic";
  font-style: italic;
  font-weight: 500;
  font-size: 6vw;
  text-transform: uppercase;
  color: black;
  animation: mooveDown 2s 300ms both;
}

.mentionslegales__paragraphe {
  text-align: left;
  margin-left: 80px;
  margin-right: 80px;
}

/*# sourceMappingURL=nmota.css.map */
