/*FONTS*/

/*** font-family: 'Space Mono', monospace; ***/

@font-face {
    font-family: 'SpaceMono';
    src: url('./assets/fonts/SpaceMono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/*** GENERAMITES  ***/

* {
    font-family: 'Space Mono', monospace;
}

/****** HEADER ******/ 

.custom-logo {
    height: 50%;
    width: 100%;
    margin-left: 35%;
    cursor: pointer;
}

.site-header {
    align-items: center;
    display: flex; 
}

.main-navigation ul {
    justify-content: right;
}

.site-menu-class {
    display: flex;
    list-style: none;
}

#site-nav-id {
    margin-left: 35%; 
}

/******* FOOTER ******/

#menu-footer {
    padding-top: 18px;
    text-transform: uppercase;
    list-style: none;
    align-items: center;
    justify-content: center;
    display: flex;
}

a {
    padding: 30px;
    text-decoration: none;
    color: black;
}

a:visited {
    color: black; 
}

/*** ***/ 



