/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/*** font-family: 'Space Mono', monospace; ***/
/*** font-family: 'Poppins', sans-serif; ***/


/*** GENERAlITES  ***/

*{
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

body {
    margin: 0;
    padding: 0;
}

/***************************************************************/
/* HEADER / NAV************************************************/
/***************************************************************/


.custom-logo {
    height: 50%;
    width: 100%;
    margin-left: 70%;
    cursor: pointer;
}

.site-header {
    align-items: center;
    display: flex;
}

.single-photos .site-header {
    box-shadow: 0px 11px 12px -7px #aaaa;
}


.main-navigation ul {
    justify-content: right;
}

.site-menu-class {
    font-family: 'Space Mono', monospace;
    display: flex;
    list-style: none;
}

.site-menu-class a {
    padding: 30px;
    text-decoration: none;
    color: black;
}

#site-nav-id {
    margin-left: 48%; 
}


/****************************************************************/
/*    FOOTER   ************************************************/
/***************************************************************/

#menu-footer {
    font-family: 'Space Mono', monospace;
    padding-top: 18px;
    text-transform: uppercase;
    list-style: none;
    align-items: center;
    justify-content: center;
    display: flex;
}

#menu-footer a {
    padding: 30px;
    text-decoration: none;
    color: black;
}
/*
#menu-footer a:active{
    color: black;
    font-weight: bold;
}
*/

/***************************************************************/
/*    MODALE   *************************************************/
/***************************************************************/


.popup-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
   /* display: flex;*/
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 999;
}

.popup-contact{
    position:relative;
    background:white;
    max-width:600px;
    width:80%;
    padding:15px 0;
    border: 5px solid #000000;
}

span.popup-close{
    position:absolute; 
    height:110px;
    width:100%;
    cursor:pointer;
    transition:all 0.4s ease;
}

.popup-img {
    margin: 0%;
    width: 100%;
    height: 100%;
}

.popup-informations {    
    display:flex;
    justify-content:center;
    align-items:center;
    max-width: 265px;
    margin: auto;
}

/***************************************************************/
/*  FORMULAIRE *************************************************/
/***************************************************************/

.wpcf7-form {
    display: flex;
    flex-direction: column;
}

.wpcf7-form p {
    margin: 5px;
    padding-top: 0px;
    width: 100%;
}

.wpcf7-form p label {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.wpcf7-form p input {
    height: 35px;
}

/*.wpcf7-form p textarea {
    padding: 10px;
}*/

.wpcf7-form p .wpcf7-text,
.wpcf7-form p .wpcf7-email,
.wpcf7-form p textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #000000;
}

.wpcf7-form p .wpcf7-text:focus,
.wpcf7-form p .wpcf7-email:focus,
.wpcf7-form p textarea:focus {    
    border: 3px solid #000000;
    background-color: rgba(175, 174, 174, 0.151);
}

/***********************************************************/
/* BTN FORMULAIRE *************************************************/
/******************************************************************/

.wpcf7-form p .wpcf7-submit { 
    cursor: pointer;
    border: white;
    background: transparent;
    border-left: 4px solid #000000;  
    height: 45px;
    width: 100%;  
    font-size: 14px;
    font-weight: 400;
}

.wpcf7-form p .wpcf7-submit:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    transition: .36s cubic-bezier(0.4, 0.0, 1, 1);
}

.wpcf7-response-output {
    width: 160%;
    transform: translate(-20%,0%);
    color: red;
}

.wpcf7-not-valid-tip {
    font-size: 12px;
}


.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output {
    text-align: center;
    font-size: 13px;
    margin-top: 0px;
}
/******************************************************/


/******************************************************************/
/*  SINGLE-PHOTOS *************************************************/
/******************************************************************/
  
  /* Conteneur principal pour la galerie de photos */
  .galleryPhotos {
    gap:20px; 
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }
  
  /* Section détaillée de la photo */
  .detailPhoto {
    margin-bottom: 7px;
    display: flex;
    flex-basis: 50%;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: solid black 1px;
  }

  .photo-info{
    margin:0; 
  }

  .photo-info--title {
    font-style: italic;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0em;
    font-size: 66px;
    width: 67%;
    line-height: 80px;
  }

  .photo-info--title h2 {
    margin: 0;
    font-size: 55px;
    font-weight: 200;
  }

  .detailPhoto img {
    width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
  }

  /* Conteneur de la photo principale */
  .containerPhoto {
    height: 100%;
    flex-basis: 50%;
  }

  .containerPhoto img {
    max-width: 100%;
    object-fit: contain;
  }


  /* Section principale du catalogue de photos */
.cataloguePhotos {
    display: flex;
    flex-direction: column;
    padding-top: 76px;
    max-width: 80%;
    margin: auto;
  }
  
  
  /* Affichage de l'icône fullscreen au survol de la photo principale */
  .containerPhoto:hover .fullscreen-iconSingle {
    display: block;
  }
  
  /* Section du formulaire de contact */
  .contenairContact {
    width: 100%;
    height: 118px;
    align-items: center;
    border-bottom: solid black 1px;
    display: flex;
    justify-content: center;
  }

  /****************** Section du bouton de contact ***********/
  .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
  }
  
  /* Bouton de contact */
  #boutonContact {
    cursor: pointer;
    width: 40%;
    height: 45px;
    line-height: 100%;
    background: transparent;
    /*background-color: #d8d8d8;*/
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 14px;
    border-radius: 2px;
    border: none;
    border-left: 4px solid #000000; 
  }

  #boutonContact:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    transition: .36s cubic-bezier(0.4, 0.0, 1, 1);
  }


  /*********************************************************************************/

  .miniature {
    width: 81px; 
    height: 71px; 
    object-fit: cover;
    transition: transform ease .3s;
  }

  .miniature:hover {
    transform: scale(1.03);
  }
  
  /* Section de navigation entre les photos */
  .naviguationPhotos {
    width: 50%;
    height: 118px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  /* Flèches de navigation entre les photos */
  .naviguationArrow {
    display: flex;
    align-items: flex-end;
    margin-bottom: 25px;
    width: 32%;
    margin-bottom: 25px;
    height: 80%;
  }

   /* Flèches gauche et droite */
   .arrow {
    width: 25px;
    height: auto;
    background-size: cover;
    background-position: center;
    display: inline-block;
  }

  .arrow:hover{
    display: flex !important;
  }

  .arrow-left {
    right: 27%;
    top: 10px;
    position: relative;
    cursor:pointer; 
  }

  .arrow-right {
    right: 27%;
    top: 10px;
    position: relative;
    cursor:pointer; 
  }

  /********************* PHOTO SIMILAIRES *****************/
  

  .photo_similaire {
    margin: auto;
    gap: 20px;
    display: flex;
    flex-direction: row;
    max-width: 80%;
  }



  .photo_similaire img {
    max-width: 100%;
    object-fit: cover;
  }

  

.similar_photo__container{
    margin: auto;
    gap: 20px;
    display: flex;
    flex-direction: row;
    max-width: 80%;

}

.similar_photo__img {
    max-width: 100%;
    object-fit: cover;
}



  /* ********************* BOUTON pour voir toutes les photos********** */
  #toutesLesPhotos {
    width: 20%;
    height: 50px;
    line-height: 100%;
    border: white;
    border-left: 4px solid #000000;  
    background-color: transparent;
    border-radius: 2px;
    margin: 0 auto;
    display: block;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  #toutesLesPhotos a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-family: 'Space Mono', monospace;
  }

  #toutesLesPhotos:hover {
    background-color: black!important ;
    color: white!important;
    transition: .36s cubic-bezier(0.4, 0.0, 1, 1);
  }

  #toutesLesPhotos a:hover{
    color: white!important;
  }


  
  /**********************************************************/
  
  /* Titre pour la section des photos similaires */
  .titleSugest {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5%;
  }
  
  /* Style pour le message "Cette photo vous intéresse ?" */
  .interesser {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
  }
  
  /* Style pour le message "Pas de photo similaire trouvée" */
  .photoNotFound {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
  }



  /************ BLOC PHOTO / VOus aimerez aussi : ***************/ 
  
  .blockPhotoRelative {
    flex-shrink: 0;
    position: relative;
    width: 564px;
    height: 495px;
    margin-bottom: 50px;
  }

  .blockPhotoRelative img {
    width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .overlay:hover .eye-icon,
  .overlay:hover .fullscreen-icon {
    display: block;
  }

  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: opacity 0.3s, background-color 0.3s;
  }
  
  .overlay:hover {
    opacity: 0.8;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .overlay:hover h2,
  .overlay:hover h3 {
    display: block;
  }
  
  .overlay h2,
  .overlay h3 {
    text-transform: uppercase;
    position: absolute;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    display: none;
  }
  
  .overlay h2 {
    left: 19px;
    bottom: 5px;
  }
  
  .overlay h3 {
    right: 19px;
    bottom: 2px;
  }
  
  .overlay .eye-icon {
    width: 46px;
    height: 31.2px;
    top: 231.4px;
    left: 255px;
    position: absolute;
    display: none;
  }
  
  .overlay .fullscreen-icon {
    position: absolute;
    cursor: pointer;
    z-index: 3;
    width: 34px;
    height: 34px;
    top: 11px;
    left: 512px;
    border: 1px;
    display: none;
  }



/******************************************************************/
/*  BANNER/ HERO  *************************************************/
/******************************************************************/
  
.banner {
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  

  .banner img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    position: absolute;
    top: 3px;
    animation: mooveUpImage 2s 300ms both;
    
  }



  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 85%;
    height: 10%;
    font-family: "space_monobold_italic", sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 6vw;
    line-height: 10vh;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 3px #ffffff;
    -webkit-text-fill-color: transparent;
    z-index: 1; 
    animation: mooveDown 2s 300ms both;
  }

  /***** KEYFRAMES BANNER + TITRE ****/ 

@keyframes mooveDown {
    0% {
      transform: translateY(-300px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      visibility: visible;
  }
  }
  
  @keyframes mooveUpImage {
    0% {
      transform: translateY(600px) ;
      opacity: 0;
    }
    100% {
      transform: translateY(0);
    }
  }



/******************************************************************/
/*  FILTRES FRONT-PAGE ********************************************/
/******************************************************************/



  /* Styles généraux pour tous les selects */
.custom-select {
    width: 260px;
    height: 50px;
    border: 1.3px solid #b8bbc2;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
    margin-bottom: 10px; /* Ajout d'espace entre les selects */
  }
  
  /* Style pour le conteneur de chaque paire label/select */
  .taxonomy-container {
    display: flex;
    align-items: center;
  }
  
  /* Styles pour le conteneur #filtrePhoto */
  #filtrePhoto {
    padding-top: 50px;
    width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  
  /* Styles pour la section gauche contenant 'Catégorie' et 'Format' */
  .left-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
  }
  
  /* Styles pour la section droite contenant 'Trier par' */
  .right-section {
    align-items: flex-end; /* Aligne le texte à droite dans la section droite */
  }
  
  /* Styles spécifiques pour le sélecteur 'Trier par' */
  #annees {
    margin-left: auto; /* Déplace 'Trier par' à droite */
  }



/******************************************************************/
/*  PHOTOS FRONT-PAGE  ********************************************/
/******************************************************************/



  /* Styles du bloc de catalogue */
.blocCatalogue {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    margin-top: 43px;
    gap: 10px;
  }
  
  /* Styles de l'image principale dans le bloc */
  #blockPusdImage {
    width: 100%;
  }
  
  /* Styles du bouton "Plus d'image" */
  #plusDImage {
    display: block;
    position: relative;
    width: 25%;
    height: 55px;
    line-height: 100%;
    background: transparent;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 14px;
    border-radius: 2px;
    border-left: 4px solid #000000; 
    border-top: none;
    border-bottom: none;
    border-right: none;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
   
  }

  /* Styles au survol du bouton */
  #plusDImage:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    transition: .36s cubic-bezier(0.4, 0.0, 1, 1);
  }
  



/******************************************************************/
/*     LIGHTBOX        ********************************************/
/******************************************************************/

.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8) !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.lightbox .lightboxClose {
    position: absolute;
    top: 40px;
    right: 18%;
    font-size: 23px;
    cursor: pointer;
    color: #fff;
}

.lightbox .lightboxPrevious,
.lightbox .lightboxNext {
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
}

.lightbox .lightboxPrevious {
    left: 12%;
}

.lightbox .lightboxNext {
    right: 15%;
}

.lightboxImage {
    width: 564px;
    height: 495px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.lightbox .lightbox-caption {
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.lightboxReference {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    position: absolute;
    text-transform: uppercase;
    z-index: 1;
    bottom: 110px;
    left: 441px;
    color: #fff;
    width: 170px;
    height: 21px;
}

.lightboxCategorie {
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: right;
    position: absolute;
    text-transform: uppercase;
    z-index: 1;
    bottom: 110px;
    right: 439px;
    color: #fff;
}

.lightboxPhoto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 564px;
    height: 495px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.lightbox-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: 100%;
}