/*FONTS*/

/*** font-family: 'Space Mono', monospace; ***/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*** GENERAlITES  ***/

* {
    font-family: 'Space Mono', monospace;
}

/***************/
/* HEADER / NAV*/
/***************/

.custom-logo {
    height: 50%;
    width: 100%;
    margin-left: 35%;
    cursor: pointer;
}

.site-header {
    align-items: center;
    display: flex; 
}

.main-navigation ul {
    justify-content: right;
}

.site-menu-class {
    display: flex;
    list-style: none;
}

#site-nav-id {
    margin-left: 35%; 
}

/***************/
/*    FOOTER   */
/***************/

#menu-footer {
    padding-top: 18px;
    text-transform: uppercase;
    list-style: none;
    align-items: center;
    justify-content: center;
    display: flex;
}

a {
    padding: 30px;
    text-decoration: none;
    color: black;
}

a:visited {
    color: black; 
}


/***************/
/*    MODALE   */
/***************/


.hidden{
    visibility: hidden; 
    display: none !important;
}


.popup-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 999;
}

.popup-contact{
    position:relative;
    background:white;
    max-width:600px;
    width:80%;
    padding:15px 0;
    border: 5px solid #000000;
}

span.popup-close{
    position:absolute; 
    height:110px;
    width:100%;
    cursor:pointer;
    transition:all 0.4s ease;
}

.popup-img {
    overflow: hidden;
    margin-top: 7%;
    width: 100%;
    height: 100%;
}

.popup-informations {    
    display:flex;
    justify-content:center;
    align-items:center;
    max-width: 265px;
    margin: auto;
}

.wpcf7-form {
    display: flex;
    flex-direction: column;
}

.wpcf7-form p {
    margin: 16px;
    padding-top: 0px;
    width: 100%;
}

.wpcf7-form p label {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.wpcf7-form p input {
    height: 35px;
    /*padding: 10px;*/
}

.wpcf7-form p textarea {
    /*padding: 10px;*/
}

.wpcf7-form p .wpcf7-text,
.wpcf7-form p .wpcf7-email,
.wpcf7-form p textarea {
    width: 100%;
    border-radius: 0px;
    border: 1px solid #000000;
}

.wpcf7-form p .wpcf7-text:focus,
.wpcf7-form p .wpcf7-email:focus,
.wpcf7-form p textarea:focus {    
    border: 3px solid #000000;
    background-color: rgba(175, 174, 174, 0.151);
}

.wpcf7-form p .wpcf7-submit { 
    cursor: pointer;
    background: transparent;
    transition: all .3s ease-in-out;
    border-left: 4px solid #000000;  
    height: 45px;
    width: 103%;  
    font-size: 14px;
    font-weight: 400;
}

.wpcf7-form p .wpcf7-submit:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    transform: translate(-100%,0%);
    transition: .36s cubic-bezier(0.4, 0.0, 1, 1);
}

.wpcf7-response-output {
    width: 160%;
    transform: translate(-20%,0%);
    color: red;
}
