
h1 {
    margin-top: 10%;
   text-align: center;
   animation: mooveDown 2s 300ms both;
}

.apropos-title {
    
    margin-top: 3%;
    text-align: center;
    
}

.apropos__paragraphe {
    text-align: center;
}


@keyframes mooveDown {
    0% {
      transform: translateY(-300px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      visibility: visible;
  }
  }
  

