
/******************************************************************/
/*     BTN FORMULAIRE   *******************************************/
/******************************************************************/

.wpcf7-form p .wpcf7-submit { 
    cursor: pointer;
    border: white;
    background: transparent;
    border-left: 4px solid #000000;  
    height: 45px;
    width: 100%;  
    font-size: 14px;
    font-weight: 400;
}

.wpcf7-form p .wpcf7-submit:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    transition: .36s cubic-bezier(0.4, 0.0, 1, 1);
}

.wpcf7-response-output {
    width: 160%;
    transform: translate(-20%,0%);
    color: red;
}

.wpcf7-not-valid-tip {
    font-size: 12px;
}


.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output {
    text-align: center;
    font-size: 13px;
    margin-top: 0px;
}



/************************************************************/
/*  BTN CONTACT SINGLE-PHOTO    *****************************/
/************************************************************/
 .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
  }
  
  /* Bouton de contact */
  #boutonContact {
    cursor: pointer;
    width: 40%;
    height: 45px;
    line-height: 100%;
    background: transparent;
    /*background-color: #d8d8d8;*/
    font-family: 'SpaceMono';
    font-weight: 400;
    font-size: 14px;
    border-radius: 2px;
    border: none;
    border-left: 4px solid #000000; 
  }

  #boutonContact:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    transition: .36s cubic-bezier(0.4, 0.0, 1, 1);
  }




/************************************************************/
/*  BTN "TOUTES LES PHOTOS" SINGLE-PHOTOS *******************/
/************************************************************/
  #toutesLesPhotos {
    width: 20%;
    height: 50px;
    line-height: 100%;
    border: white;
    border-left: 4px solid #000000;  
    background-color: transparent;
    border-radius: 2px;
    margin: 0 auto;
    display: block;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  #toutesLesPhotos a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-family: 'SpaceMono';
  }

  #toutesLesPhotos:hover {
    background-color: black!important ;
    color: white!important;
    transition: .36s cubic-bezier(0.4, 0.0, 1, 1);
  }

  #toutesLesPhotos a:hover{
    color: white!important;
  }


  
