
/***************************************************************/
/* GENERALITES *************************************************/
/***************************************************************/

*{
    box-sizing: border-box;
    font-family: 'SpaceMono';
}

body {
    margin: 0;
    padding: 0;
    /*max-width: 1440px;*/
}

