#content {
    box-sizing: border-box;
}

.mentionslegales__title{
    text-align: center;
    font-family: "SpaceMonoBoldItalic";
    font-style: italic;
}

h1 {
    text-align: center;
    font-family: "SpaceMonoBoldItalic";
    font-style: italic;
    font-weight: 500;
    font-size: 6vw;
    text-transform: uppercase;
    color: black;
    animation: mooveDown 2s 300ms both;
}

.mentionslegales__paragraphe{
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
