
/******************************************************************/
/*  PHOTOS FRONT-PAGE  ********************************************/
/******************************************************************/



  /* Styles du bloc de catalogue */
  .blocCatalogue {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    margin-top: 43px;
    gap: 10px;
  }
  
  